
@import url('https://fonts.googleapis.com/css2?family=Koh+Santepheap:wght@200;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Koh Santepheap', Arial, sans-serif;
    background-image: url('/assets/fundoemprestimo.png'); 
    background-size: cover;
    background-position: center;
    color: white;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5); 
    min-height: 100vh;
}

h1 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #FFFFFF;
}

table {
    width: 90%;
    max-width: 800px;
    border-collapse: collapse;
    background-color: rgba(82, 50, 31, 0.9);
    margin-bottom: 20px;
}

th, td {
    padding: 12px 15px;
    text-align: left;
    border: 1px solid #FFFFFF;
    color: white;
}

th {
    font-weight: bold;
}

.novo-emprestimo:hover {
    background-color: rgba(75, 56, 50, 1);
}

/* Estilo do cabeçalho */
header {
    background-color: rgba(82, 50, 31, 0.9); /* Fundo marrom semitransparente */
    padding: 15px 0;
    text-align: center;
}


header nav a {
    margin: 0 25px; 
    color: white; 
    font-size: 22px; 
    text-decoration: none; 
    text-transform: uppercase; 
    transition: color 0.3s ease-in-out; 
}


header nav a.active {
    color: #f4e1c1;
    border-bottom: 2px solid #f4e1c1; 
    padding-bottom: 5px;
}


button.novo-emprestimo {
    background-color: #5a3b2e; 
    color: #ffffff; 
    font-size: 30px; 
    border: 1px solid #ffffff; 
    border-radius: 0px; 
    padding: 10px 20px; 
    text-align: center; 
    text-decoration: none; 
    font-family: 'Koh Santepheap', Arial, sans-serif;
}


button.novo-emprestimo:hover {
    border-color: #ffffff; 
}
